.container{
    display: grid;
    width: 95vw;
    height: 100vh;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr ;
    border: 1px solid black;

    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". main aside ."
    ". footer footer .";

}

:root {
    --primary-color: #2e4053d2;
    --secondary-color: #585a5c;
    --text-color: black;
    --accent-color: 
}

header{
    grid-area:header;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #2e4053d2;
    

}

.rainbow-text{
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(230, 102, 102), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;

}





nav{
    grid-area: nav;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    background-color: #585a5c;
    
}

.chair1 {
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;
    transition:0.5s;
}

.chair1:hover {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;

}

.chair2 {
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;
    transition:0.5s;
}

.chair2:hover {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;
    

}

.chair3 {
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;
    transition:0.5s;
}

.chair3:hover {
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to left,  rgb(255, 0, 0), rgb(192, 18, 18), rgb(189, 26, 26), rgb(201, 83, 83)));
    -webkit-background-clip: text;
    color: transparent;
    animation: move 1500s linear infinite;

}

main{
    
    grid-area: main;
    display:grid;
    background-color:  #93b2c5e0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;

    grid-template-areas:
    "bord1 bord2 bord3 bord4"
    "stol1 stol2 stol3 stol4";
}

aside{
    grid-area: aside;
    border: 1px solid black;
    background-color:whitesmoke;
}

footer{
    grid-area: footer;
    background-color: #585a5c;
}

.bord1{
    grid-area:bord1;
    border: 1px solid black;
    background-color:var(--secondary-color);
    
}

.bord2{
    grid-area:bord2;
    background-color: #ffffff;;
    
}
.bord3{
    grid-area:bord3;
    background-color: #ffffff;;
    
}

.bord4{
    grid-area:bord4;
    background-color: #ffffff;
    
}

.stol1{
    grid-area:stol1;
    border: 1px solid black;
    background-color:var(--secondary-color);
    
}

.stol2{
    grid-area:stol2;
    background-color: #ffffff;;
    
}

.stol3{
    grid-area:stol3;
    background-color: #ffffff;;
    
}

.stol4{
    grid-area:stol4;
    background-color: #ffffff;;
    
}

@keyframes move { 
    to {
        background-position: 4500vh;
    }
    
}

